/* 重写一些wui的样式*/
[v-cloak] {
  display: none;
}

.weui-cells_form .weui-cell__hd.required>label:after {
  content: '*';
  color: #ff0000;
}

.weui-icon-download {
	transform: rotate(180deg);
	color: #FFBE00;
}

.weui-form-preview__bd {
	color: #000;
}

.weui-dialog__btn_primary, 
.weui-vcode-btn,
.weui-vcode-btn:active,
.weui-cell_link {
	color: #092e85;
}

.weui-icon-success{
	// color: #10aeff;
}

.weui-vcode-btn:active {
	opacity: .8;
}

.weui-form-preview__btn_primary {
  color: #ffffff;
  background-color: #092e85;
}

.weui-form-preview__btn:active {
	background-color: #092ea8;
}

button.weui-btn_disabled {
	color: #ccc;
	font-size: 14px;
}

.weui-uploader__input-box {
	float: none;
	box-sizing: border-box;
	top: 1px;
}

label.weui-cell_warn {
	font-size: 14px;
}

label.weui-label {
	width: 90px;
}

.w-photo-list-item {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.weui-uploader__bd>div{
  position: relative;
  margin-bottom: 9px;
  margin-right: 9px;
  margin-top: 9px;
  width: 77px;
  height: 77px;
}

.weui-uploader__bd>div>img{
  width: 77px;
  height: 77px;
}

.weui-uploader__bd>div.w-uploader-item>i.w-uploader-del-img{
  display: block;
  box-sizing: border-box;
  width: 15px;
  padding: 5px;
  height: 15px;
  border-radius: 7.5px;
  position: absolute;
  right: -5px;
  top: -5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.weui-uploader__bd>div.w-uploader-item>i.w-uploader-del-img:before{
  display: block;
  content: 'x';
  position: absolute;
  right: 4.5px;
  top: -8px;
  color: #ffffff;
}

.w-js-dialog .weui-input {
  border: 1px solid #ccc;
  padding: 5px;
}

/* 布局基础样式 */
.w-container {
	height: 100vh;
}

.w-container .w-main {
	overflow-y: auto;
	-webkit-overflow-scrolling:touch;
}

.w-operation{
	position: fixed !important;
}

/* 常用样式类	*/
.hide {
	display: none;
}

.w-bold {
	font-weight: 800;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.no-padding {
	padding: 0;
}

.w-padding-left-1x {
	padding-left: 16px !important;
}

.w-padding-left-2x {
	padding-left: 32px !important;
}

.no-margin {
	margin: 0;
}

.w-table {
	width: 100%;
	text-align: left;
	font-size: .8em;
	border-collapse: collapse; 
}

.w-table.has-gap-color tr:nth-of-type(even) { 
  background: #eee; 
}

.w-table .tr-gap-color {
  background: #eee; 
}

.w-table th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
  font-size: 1em;
}

.w-table td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
}

.w-bigimg .w-bigimg-container {
	position: fixed;
  width: 90%;
  top: 50%;
  right: 50%;
  z-index: 1001;
  transform: translate(50%, -50%);
}

.w-bigimg .w-bigimg-container>img {
	width: 100%;
  border: 1px solid #ccc;
}

.w-tips {
 font-size: 14px;
 padding: 5px 15px; 
}

.page__hd {
  padding-top: 10px;
}

.page__hd h1 {
  font-size: 1em;
}