.weui-form-preview:after {
	border: 0;
}

.w-step {
	padding: 10px 15px;
}

.w-step .w-step-item {
	// padding: 8px 0;
}

.w-step .w-step-item .w-step-item-right>div{
  line-height: 1;
  padding: 8px 0 0 8px;
}

.w-step .w-step-item .w-step-item-right .icon-box__title{
	color: #999;
  font-size: .9em;
}

/* 借款项 */
.w-borrow-list .w-borrow-list-item{
  position: relative;
  padding: 5px 0;
}
.w-borrow-list .w-borrow-list-item:before{
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  color: #d9d9d9;
  top: 0;
  border-top: 1px solid #d9d9d9;
  transform-origin: 0 0;
  transform: scaleY(.5);
}

.w-borrow-list .w-borrow-list-item .w-item-loadmore{
  text-align: left;
  position: relative;
  margin-top: 5px;
  // background: rgba(255,255,255,0.5);
}
.w-borrow-list .w-borrow-list-item .w-item-loadmore:after{
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #586c94;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px;
  transition: all .5s ease-in-out;
}
.w-borrow-list .w-borrow-list-item .w-item-loadmore.active:after{
  transform: rotate(132deg);
}

