.weui-form-preview:after {
	border: 0;
}

.w-step {
	padding: 10px 15px;
}

.w-step .w-step-item {
	// padding: 8px 0;
}

.w-step .w-step-item .w-step-item-right>div{
  line-height: 1;
  padding: 8px 0 0 8px;
}

.w-step .w-step-item .w-step-item-right .icon-box__title{
	color: #0bb20c;
  font-size: .9em;
}

/* 借款项 */
.w-borrow-list .w-borrow-list-item{
	position: relative;
	padding: 5px 0;
}
.w-borrow-list .w-borrow-list-item:before {
	content: " ";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  color: #d9d9d9;
  top: 0;
  border-top: 1px solid #d9d9d9;
  transform-origin: 0 0;
  transform: scaleY(.5);
}