.w-section .w-section-body {
	padding: 0 15px;
}

// .w-section + .w-section {
// 	margin-top: 10px;
// }

.w-section .w-section-title {
	font-weight: bolder;
	padding: 10px 15px;
}

.w-section .w-section-title.canvas-title {
	position: relative;
	padding: 0 15px 10px 15px;
	top: 20px;
}

.profits-table {
	margin-bottom: 10px;
}