<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>审批</title>
	<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">
	<link rel="stylesheet" type="text/css" href="./css/flex.css">
	<link rel="stylesheet" type="text/css" href="./css/bass.css">
	<link rel="stylesheet" type="text/css" href="./css/borrowBillDetail.css">
	<script src="./js/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/base.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/vue.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/fastclick.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div id="app" v-cloak>
    <div class="w-container" flex="box:last dir:top">
      <!-- 主区域 start -->
      <div class="w-main">
        <div class="weui-form-preview">
              <div class="weui-form-preview__hd">
                  <div class="weui-form-preview__item">
                      <label class="weui-form-preview__label">借款总额</label>
                      <em class="weui-form-preview__value">¥{{ formData.bbje }}</em>
                  </div>
              </div>
              <div class="weui-form-preview__bd">
                  <div class="weui-form-preview__item">
                      <label class="weui-form-preview__label">单号</label>
                      <span class="weui-form-preview__value">{{ formData.djbh }}</span>
                  </div>
                  <div class="weui-form-preview__item">
                      <label class="weui-form-preview__label">日期</label>
                      <span class="weui-form-preview__value">{{ formData.djrq }}</span>
                  </div>
                  <div class="weui-form-preview__item">
                      <label class="weui-form-preview__label">承担公司</label>
                      <span class="weui-form-preview__value">{{ formData.fydwmc }}</span>
                  </div>
                  <div class="weui-form-preview__item">
                      <label class="weui-form-preview__label">承担部门</label>
                      <span class="weui-form-preview__value">{{ formData.deptname }}</span>
                  </div>
                  <div class="weui-form-preview__item">
                      <label class="weui-form-preview__label">借款人</label>
                      <span class="weui-form-preview__value">{{ formData.psnname }}</span>
                  </div>
              </div>
              <!-- 借款项 s-->
              <div class="weui-form-preview__bd w-borrow-list">
                <div class="w-borrow-list-item" v-for="item in formData.details">
                  <div class="weui-form-preview__item">
                      <label class="weui-form-preview__label">金额</label>
                      <span class="weui-form-preview__value">{{ item.amount }}</span>
                  </div>
                  <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">事由</label>
                    <span class="weui-form-preview__value">{{ item.defitem2 }}</span>
                  </div>
                </div>
                <!-- 借款项 e-->
              </div>
              <!-- 审批流程 s-->
              <div class="weui-form-preview__ft w-step" flex="dir:top">
                <div class="icon-box w-step-item" flex="dir:left box:first" v-for="item in formData.spqks">
                  <div class="w-step-item-left">
                    <i :class="getStepClass(item.approveresult)"></i>
                  </div>
                  <div class="w-step-item-right">
                    <div class="icon-box__desc" flex="dir:left main:justify">
                      <span>{{ item.checkmanName }}</span><span>{{ item.dealdate }}</span>
                    </div>
                    <div class="icon-box__title w-bold">{{ item.checknote || '未审批' }}</div>
                  </div>
                </div>
              </div>
              <!-- 审批流程 s-->
          </div>
      </div>
      <!-- 主区域 end -->
      <div class="w-footer weui-form-preview__ft">
        <a v-if="!isLoading" class="weui-form-preview__btn weui-form-preview__btn_primary w-operation-btn" href="javascript:void(0)" @click="isOperationShow = true">操作</a>
        <a v-else href="javascript:void(0)" class="weui-btn weui-btn_default weui-btn_loading"><i class="weui-loading"></i>数据加载中</a>
      </div>
    </div>

    <div class="w-operation-panel" v-if="isOperationShow">
        <div class="weui-mask" id="iosMask"></div>
        <div class="weui-actionsheet weui-actionsheet_toggle" id="iosActionsheet">
            <div class="weui-actionsheet__menu">
              <div class="weui-actionsheet__cell" @click="handleOptBtnClick('Y')">批准</div>
              <!-- <div class="weui-actionsheet__cell" @click="handleOptBtnClick(2)">不批准</div> -->
              <div class="weui-actionsheet__cell" @click="handleOptBtnClick('R')">驳回</div>
            </div>
            <div class="weui-actionsheet__action">
                <div class="weui-actionsheet__cell" @click="isOperationShow = false">关闭</div>
            </div>
        </div>
    </div>

    <div class="w-js-dialog" v-if="isOperationDlgShow">
      <div class="weui-mask"></div>
      <div class="weui-dialog">
          <div class="weui-dialog__hd"><strong class="weui-dialog__title">意见</strong></div>
          <div class="weui-dialog__bd"><textarea v-model="opinionData.content" class="weui-textarea" placeholder="请输入意见" rows="2"></textarea></div>
          <div class="weui-dialog__ft">
              <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" @click="handleDlgBtnCancelClick">取消</a>
              <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" @click="handleDlgBtnConfirmClick">确认</a>
          </div>
      </div>
    </div>
  </div>

	<script>
    new Vue({
      el: '#app',
      data: function(){
        return {
          isLoading: false,
          hasError: false,
          isOperationShow: false,
          isOperationDlgShow: false,
          formData: {
            bbje: "--",
            deptname: "--",
            details: [],
            djbh: "--",
            djrq: "--",
            fydeptid: "--",
            fydwbm: "--",
            fydwmc: "--",
            jkbxr: "--",
            psnname: "--",
            spqks: [],
          },
          opinionData: {
            state: 'Y', //'Y'批准 'R'驳回
            content: '',
          }
        }
      },

      mounted: function () {
        FastClick.attach(document.body);
        this.getDetail();
      },

      methods: {
        getStepClass: function(state){
          var className = '';
          switch(state) {
          case 'Y':
            className = 'weui-icon-success';
            break;
          case 'R':
            className = 'weui-icon-download';
            break;
          default:
            className = 'weui-icon-circle';
          }
          return className;
        },

        getDetail: function(){
          var billid = Utils.getQueryString('billid'),
              pk_billtype = Utils.getQueryString('pk_billtype'),
              vm = this;

          if (billid && pk_billtype) {
            // url参数正常 请求数据
            vm.isLoading = true;

            $.getJSON('/modules/wechat/ydsp/BillDetail', {
              billid: billid,
              // billid: '1001A1100000000FTGOB',
              openId: '1341311',
              pk_billtype: pk_billtype,
              // pk_billtype: '263X-01',
            }).then(function(rsp) {
              console.log(rsp);
              if (rsp.result === 'Y') {
                vm.formData = rsp.rsData;
                vm.hasError = true; 
              } else {
                vm.hasError = true; 
              }
              vm.isLoading = false;
            });
          } else {
            vm.hasError = true;
          }
        },

        handleOptBtnClick: function(state){
          this.isOperationShow = false;
          this.isOperationDlgShow = true;
          this.opinionData.state = state;
          console.log('state', state);
        },

        handleDlgBtnConfirmClick: function(){
          console.log('this.opinionData', this.opinionData);
        },

        handleDlgBtnCancelClick: function(){
          this.isOperationDlgShow = false;
          this.opinionData.content = '';
          this.opinionData.state = 1;
        },
      }
    });
	</script>
</body>
</html>