<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>出库单</title>
	<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">
	<link rel="stylesheet" type="text/css" href="./css/flex.css">
	<link rel="stylesheet" type="text/css" href="./css/bass.css">
	<link rel="stylesheet" type="text/css" href="./css/borrowBillDetail.css">
	<script src="./js/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/base.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/vue.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/fastclick.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div id="app" v-cloak>
    <div class="w-container" flex="box:last dir:top">
      <!-- 主区域 start -->
      <div class="w-main">
        <div class="weui-form-preview">
          <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
              <label class="weui-form-preview__label">出库单号</label>
              <em class="weui-form-preview__value">232323232323</em>
            </div>
          </div>

          <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
              <label class="weui-form-preview__label">客户</label>
              <span class="weui-form-preview__value">广州众星软件</span>
            </div>
            <div class="weui-form-preview__item">
              <label class="weui-form-preview__label">日期</label>
              <span class="weui-form-preview__value">2017-11-19 12:11:10</span>
            </div>
            <div class="weui-form-preview__item">
              <label class="weui-form-preview__label">出货仓库</label>
              <span class="weui-form-preview__value">广州仓</span>
            </div>
            <div class="weui-form-preview__item">
              <label class="weui-form-preview__label">自编订单号</label>
              <span class="weui-form-preview__value">2323232323232323</span>
            </div>
            <div class="weui-form-preview__item">
              <label class="weui-form-preview__label">销售部门</label>
              <span class="weui-form-preview__value">建筑部</span>
            </div>
            <div class="weui-form-preview__item">
              <label class="weui-form-preview__label">物流公司</label>
              <span class="weui-form-preview__value">圆通xxxx</span>
            </div>
            <div class="weui-form-preview__item">
              <label class="weui-form-preview__label">备注</label>
              <span class="weui-form-preview__value">快快快快快快快快快快快快快快</span>
            </div>
          </div>

          <!-- 明细 s-->
          <div class="weui-form-preview__bd w-borrow-list">
            <div class="w-borrow-list-item" v-for="item in formData.details">
              <div class="weui-form-preview__item">
                  <label class="weui-form-preview__label">存货编号</label>
                  <span class="weui-form-preview__value">{{ item.szxmmc }}</span>
              </div>
              <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">存货名称</label>
                <span class="weui-form-preview__value">{{ item.szxmmc }}</span>
              </div>
              <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">规格型号</label>
                <span class="weui-form-preview__value">{{ item.szxmmc }}</span>
              </div>
              <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">主计</label>
                <span class="weui-form-preview__value">{{ item.szxmmc }}</span>
              </div>
              <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">数量</label>
                <span class="weui-form-preview__value">{{ item.szxmmc }}</span>
              </div>
              <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">辅计</label>
                <span class="weui-form-preview__value">{{ item.szxmmc }}</span>
              </div>
              <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">辅数量</label>
                <span class="weui-form-preview__value">{{ item.szxmmc }}</span>
              </div>
              <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">批号</label>
                <span class="weui-form-preview__value">{{ item.szxmmc }}</span>
              </div>
              <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">色卡</label>
                <span class="weui-form-preview__value">{{ item.szxmmc }}</span>
              </div>
            </div>
          </div>
          <!-- 明细 e-->
        </div>
      </div>
      <!-- 主区域 end -->

      <div class="w-footer weui-form-preview__ft">
        <template v-if="!isLoading && !hasError">
          <a v-if="pageType === 'confirm'" class="weui-form-preview__btn weui-form-preview__btn_primary w-operation-btn" href="javascript:void(0)" @click="isOperationShow = true">确认出库</a>
          <a v-else class="weui-form-preview__btn weui-form-preview__btn_primary w-operation-btn" href="javascript:void(0)" @click="handleShowDlgBtnClick">确认签收</a>
        </template>

        <a v-else-if="hasError" href="javascript:void(0)" class="weui-btn weui-btn_default weui-btn_loading" @click="getDetail"><i class="weui-icon-warn"></i>请求错误，点击这里重试</a>
        <a v-else href="javascript:void(0)" class="weui-btn weui-btn_default weui-btn_loading"><i class="weui-loading"></i>数据加载中</a>
      </div>
    </div>

    <div class="w-js-dialog" v-if="isOperationDlgShow">
      <div class="weui-mask"></div>
      <div class="weui-dialog">
          <div class="weui-dialog__hd"><strong class="weui-dialog__title">图片上传</strong></div>
          <div class="weui-dialog__bd">
            <div class="weui-uploader__bd" flex="dir:left">
              <div class="weui-uploader__input-box">
                <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="">
              </div>
              <div>
                <img src="./img/pic_160.png" width="79px" height="79px" alt="">
              </div>
            </div>
            <div class="weui-cells__tips text-left no-margin no-padding">请上传一张带客户签名的清晰照片</div>
          </div>
          <div class="weui-dialog__ft">
              <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" @click="handleDlgBtnCancelClick">取消</a>
              <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" @click="handleDlgBtnConfirmClick">确认</a>
          </div>
      </div>
    </div>

  </div>

	<script>
    new Vue({
      el: '#app',
      data: function(){
        var billType = Utils.getQueryString('pk_billtype'),
            pageType = Utils.getQueryString('pageType') || 'confirm';
        return {
          isLoading: false,
          hasError: false,
          isOperationShow: false,
          isOperationDlgShow: false,
          billType: billType,
          pageType: pageType, // confirm 出库单出库  sign 签收
          formData: {
            bbje: "--",
            deptname: "--",
            details: [{szxmmc: 'test'}],
            djbh: "--",
            djrq: "--",
            fydeptid: "--",
            fydwbm: "--",
            fydwmc: "--",
            jkbxr: "--",
            psnname: "--",
            spqks: [],
          },
          opinionData: {
            state: 'Y', //'Y'批准 'R'驳回
            content: '',
          }
        }
      },

      mounted: function () {
        FastClick.attach(document.body);
        // this.getDetail();
      },

      methods: {

        getDetail: function(){
          var billid = Utils.getQueryString('billid'),
              pk_billtype = Utils.getQueryString('pk_billtype'),
              vm = this;

          if (billid && pk_billtype) {
            // url参数正常 请求数据
            vm.isLoading = true;
            vm.hasError = false;

            $.getJSON('/modules/wechat/ydsp/BillDetail', {
              billid: billid,
              // billid: '1001A1100000000FTGOB',
              openId: '1341311',
              pk_billtype: pk_billtype,
              // pk_billtype: '263X-01',
            }).then(function(rsp) {
              console.log(rsp);
              if (rsp.result === 'Y') {
                vm.formData = rsp.rsData;
                vm.hasError = false; 
              } else {
                vm.hasError = true; 
              }
              vm.isLoading = false;
            }, function() {
              vm.hasError = true;
            });
          } else {
            vm.hasError = true;
          }
        },

        handleShowDlgBtnClick: function(){
          this.isOperationDlgShow = true;
        },

        handleDlgBtnConfirmClick: function(){
          console.log('this.opinionData', this.opinionData);
        },

        handleDlgBtnCancelClick: function(){
          this.isOperationDlgShow = false;
          this.opinionData.content = '';
          this.opinionData.state = 1;
        },
      }
    });
	</script>
</body>
</html>