<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>签收注册</title>
	<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">
	<link rel="stylesheet" type="text/css" href="./css/flex.css">
	<link rel="stylesheet" type="text/css" href="./css/bass.css">
	<script src="./js/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/base.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/vue.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/fastclick.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div id="app" v-cloak>
    <div class="w-container" flex="box:last dir:top">
      <!-- 主区域 start -->
      <div class="w-main">
        <div class="weui-cells__title">签收注册</div>

        <div class="weui-cells weui-cells_form">
          <div class="weui-cell weui-cell_warn">
            <div class="weui-cell__hd"><label class="weui-label">物流公司</label></div>
            <div class="weui-cell__bd">
              <input v-model="formData.companyName" class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入物流公司">
            </div>
            <div class="weui-cell__ft">
              <i class="weui-icon-warn"></i>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
            <div class="weui-cell__bd">
              <input v-model="formData.userName" class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入姓名">
            </div>
          </div>
          <div class="weui-cell weui-cell_vcode">
            <div class="weui-cell__hd">
              <label class="weui-label">手机号</label>
            </div>
            <div class="weui-cell__bd">
              <input v-model="formData.mobilePhone" class="weui-input" type="tel" placeholder="请输入手机号">
            </div>
            <div class="weui-cell__ft">
              <button v-if="!countDown" class="weui-vcode-btn" @click="handleVcodeBtnClick">获取验证码</button>
              <button v-else class="weui-vcode-btn weui-btn_disabled" disabled="true">{{ countDown }}秒后重新获取</button>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
            <div class="weui-cell__bd">
              <input v-model="formData.validCode" class="weui-input" type="number" placeholder="请输入验证码">
            </div>
          </div>
        </div>

        <div class="weui-cells__tips">请填写真实信息注册后再进行签收操作</div>
      </div>
      <!-- 主区域 end -->
      <div class="w-footer weui-form-preview__ft">
        <a v-if="!isLoading && !hasError" class="weui-form-preview__btn weui-form-preview__btn_primary w-operation-btn" href="javascript:void(0)" @click="">确认注册</a>
        <a v-else-if="hasError" href="javascript:void(0)" class="weui-btn weui-btn_default weui-btn_loading" @click="getDetail"><i class="weui-icon-warn"></i>请求错误，点击这里重试</a>
        <a v-else href="javascript:void(0)" class="weui-btn weui-btn_default weui-btn_loading"><i class="weui-loading"></i>请稍后</a>
      </div>
    </div>
  </div>

	<script>
    new Vue({
      el: '#app',
      data: function(){
        var billType = Utils.getQueryString('pk_billtype');
        return {
          isLoading: false,
          hasError: false,
          billType: billType,
          countDown: 0, // 60秒倒计时
          formData: {
            companyName: '',
            userName: '',
            mobilePhone: '',
            volidCode: '',
          }
        }
      },

      mounted: function () {},

      methods: {
        handleVcodeBtnClick: function() {
          var vm = this, intervalId;
          this.countDown = 60;
          intervalId = setInterval(function (){
            vm.countDown--;
            vm.countDown === 0 && clearInterval(intervalId);
          }, 1000);
        }
      }
    });
	</script>
</body>
</html>