<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>签收注册</title>
	<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">
	<link rel="stylesheet" type="text/css" href="./css/flex.css">
	<link rel="stylesheet" type="text/css" href="./css/base.css">
  <style>
    .weui-cells:before{
      display: none;
    }
  </style>
  <script src="./js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/base.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/vue.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/fastclick.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div id="app" v-cloak>
    <div class="w-container" flex="box:last dir:top">
      <!-- 主区域 start -->
      <div class="w-main">
        <!-- <div class="weui-cells__title">签收注册</div> -->
        <form class="weui-cells weui-cells_form" id="signRegisterForm">
          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label" for="companyName">物流公司</label></div>
            <div class="weui-cell__bd">
              <input v-model="formData.companyName" name="companyName" class="weui-input" placeholder="请输入物流公司">
            </div>
            <div class="weui-cell__ft">
              <i class="weui-icon-warn"></i>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label" for="userName">真实姓名</label></div>
            <div class="weui-cell__bd">
              <input v-model="formData.userName" name="userName" class="weui-input" placeholder="请输入姓名">
            </div>
          </div>
          <div class="weui-cell weui-cell_vcode">
            <div class="weui-cell__hd">
              <label class="weui-label" for="mobilePhone">手机号码</label>
            </div>
            <div class="weui-cell__bd">
              <input v-model="formData.mobilePhone" name="mobilePhone" class="weui-input" placeholder="请输入手机号">
            </div>
            <div class="weui-cell__ft">
              <button v-if="!countDown" class="weui-vcode-btn" @click.prevent="handleVcodeBtnClick">获取验证码</button>
              <button v-else class="weui-vcode-btn weui-btn_disabled" disabled>{{ countDown }}秒后重新获取</button>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label" for="validCode">验证码</label></div>
            <div class="weui-cell__bd">
              <input v-model="formData.validCode" name="validCode" class="weui-input" type="number" placeholder="请输入验证码">
            </div>
          </div>
        </form>

        <div class="weui-cells__tips">请填写真实信息注册后再进行签收操作</div>
      </div>
      <!-- 主区域 end -->
      <div class="w-footer weui-form-preview__ft">
        <a v-if="!isLoading && !hasError" class="weui-form-preview__btn weui-form-preview__btn_primary w-operation-btn" href="javascript:void(0)" @click="handleRegBtnClick">确认注册</a>
        <a v-else-if="hasError" href="javascript:void(0)" class="weui-btn weui-btn_default weui-btn_loading" @click="getDetail"><i class="weui-icon-warn"></i>请求错误，点击这里重试</a>
        <a v-else href="javascript:void(0)" class="weui-btn weui-btn_default weui-btn_loading"><i class="weui-loading"></i>请稍后</a>
      </div>
    </div>
  </div>

	<script>
    new Vue({
      el: '#app',
      data: function(){
        var billType = Utils.getQueryString('pk_billtype');
        return {
          isLoading: false,
          hasError: false,
          billType: billType,
          countDown: 0, // 60秒倒计时
          formData: {
            companyName: '',
            userName: '',
            mobilePhone: '',
            volidCode: '',
          }
        }
      },

      mounted: function () {
        $("#signRegisterForm").validate({
          errorClass: 'weui-cell_warn',
          rules: {
            companyName: 'required',
            userName: 'required',
            mobilePhone: 'required',
            validCode: 'required',
          },
          messages: {
            companyName: "请输入物流公司！",
            userName: "请输入真实姓名！",
            mobilePhone: "请输入手机号码！",
            validCode: "请输入手机验证码！",
          }
        });
      },

      methods: {
        handleVcodeBtnClick: function() {
          if ($("#signRegisterForm").validate().element($('input[name="mobilePhone"]'))) {
            var vm = this, intervalId;
            this.countDown = 60;
            intervalId = setInterval(function (){
              vm.countDown--;
              vm.countDown === 0 && clearInterval(intervalId);
            }, 1000);
          }
            
        },

        handleRegBtnClick: function () {
          var $form = $('#signRegisterForm');
          if ($form.valid()) {
            console.log($form);
          }
        }
      }
    });
	</script>
</body>
</html>