<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>签收注册</title>
	<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">
	<link rel="stylesheet" type="text/css" href="./css/flex.css">
	<link rel="stylesheet" type="text/css" href="./css/base.css">
  <style>
    .weui-cells:before{
      display: none;
    }
  </style>
  <script src="./js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/base.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/vue.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/fastclick.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div id="app" v-cloak>
    <div class="w-container" flex="box:last dir:top">
      <!-- 主区域 start -->
      <div class="w-main">
        <!-- <div class="weui-cells__title">签收注册</div> -->
        <form class="weui-cells weui-cells_form" id="signRegisterForm">
          <div class="weui-cell">
            <div class="weui-cell__hd required"><label class="weui-label" for="logisticsCompany">物流公司</label></div>
            <div class="weui-cell__bd">
              <input v-model="formData.logisticsCompany" name="logisticsCompany" class="weui-input" placeholder="请输入物流公司">
            </div>
            <div class="weui-cell__ft">
              <i class="weui-icon-warn"></i>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd required"><label class="weui-label" for="userName">真实姓名</label></div>
            <div class="weui-cell__bd">
              <input v-model="formData.userName" name="userName" class="weui-input" placeholder="请输入姓名">
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd required">
              <label class="weui-label" for="userPhone">手机号码</label>
            </div>
            <div class="weui-cell__bd">
              <input v-model="formData.userPhone" type="number" name="userPhone" class="weui-input" placeholder="请输入手机号">
            </div>
          </div>
          <div class="weui-cell weui-cell_vcode">
            <div class="weui-cell__hd required"><label class="weui-label" for="validCode">验证码</label></div>
            <div class="weui-cell__bd">
              <input v-model="formData.validCode" type="number" name="validCode" class="weui-input" type="number" placeholder="请输入验证码">
            </div>
            <div class="weui-cell__ft">
              <button v-if="!countDown" class="weui-vcode-btn" @click.prevent="handleVcodeBtnClick">获取验证码</button>
              <button v-else class="weui-vcode-btn weui-btn_disabled" disabled>{{ countDown }}秒后重新获取</button>
            </div>
          </div>
        </form>

        <div class="w-tips">&nbsp;&nbsp;&nbsp;&nbsp;温馨提示：请填写您所在物流公司详细信息，注册成功后再签收。</div>
      </div>
      <!-- 主区域 end -->
      <div class="w-footer weui-form-preview__ft">
        <a v-if="!isLoading && !hasError" class="weui-form-preview__btn weui-form-preview__btn_primary w-operation-btn" href="javascript:void(0)" @click="handleRegBtnClick">确认注册</a>
        <a v-else-if="hasError" href="javascript:void(0)" class="weui-btn weui-btn_default weui-btn_loading" @click="getDetail"><i class="weui-icon-warn"></i>请求错误，点击这里重试</a>
        <a v-else href="javascript:void(0)" class="weui-btn weui-btn_default weui-btn_loading"><i class="weui-loading"></i>请稍后</a>
      </div>
    </div>

    <div id="toast" style="display: none;">
      <div class="weui-mask_transparent"></div>
      <div class="weui-toast">
          <i class="weui-icon-success-no-circle weui-icon_toast"></i>
          <p class="weui-toast__content">操作成功</p>
      </div>
    </div>
  </div>

	<script>
    // 手机号码验证   
    jQuery.validator.addMethod("isMobilePhone", function(value, element) {
        return /^\d{11}$/gi.test(value);
    }, '请正确填写正确的手机号码！');

    new Vue({
      el: '#app',
      data: function(){
        return {
          isLoading: false,
          hasError: false,
          countDown: 0, // 60秒倒计时
          openId: '100104042005',
          targetUrl: '',
          formData: {
            logisticsCompany: '',
            userName: '',
            userPhone: '',
            volidCode: '',
          }
        }
      },

      mounted: function () {
        $("#signRegisterForm").validate({
          errorClass: 'weui-cell_warn',
          rules: {
            logisticsCompany: 'required',
            userName: 'required',
            userPhone: {
              required: true,
              isMobilePhone: true
            },
            validCode: 'required',
          },
          messages: {
            logisticsCompany: '请输入物流公司！',
            userName: '请输入真实姓名！',
            userPhone: {
              required: '请输入手机号码！',
              isMobilePhone: '请填写正确的手机号码！'
            },
            validCode: '请输入手机验证码！',
          }
        });
      },

      methods: {
        handleVcodeBtnClick: function() {
          if ($("#signRegisterForm").validate().element($('input[name="userPhone"]'))) {
            var vm = this, intervalId;
            vm.countDown = 60;

            $.getJSON('/modules/sms/verify_code', {
              phone: vm.formData.userPhone,
              type: 3
            }).then(function(rsp) {
              console.log(rsp);
              if (rsp.result === 'Y') {
                // 倒数
                intervalId = setInterval(function (){
                  vm.countDown--;
                  vm.countDown === 0 && clearInterval(intervalId);
                }, 1000);
              } else {
                alert('获取失败，请重试！')
              }
            }, function() {
              alert('获取失败，请重试！');
            });
          }
            
        },

        handleRegBtnClick: function () {
          var vm = this, $form = $('#signRegisterForm');
          if ($form.valid()) {
            // 通过基础表单校验
            vm.isLoading = true;
            $.getJSON('/modules/sms/check_verify_code', {
                phone: vm.formData.userPhone,
                code: vm.formData.validCode
            }).then(function(rsp) {
              console.log(rsp);
              // 验证校验码跟手机是否匹配
              if (rsp.result === 'Y') {
                $.post('/modules/wechat/saleck/signUserRegister', {
                  openId: vm.openId,
                  logisticsCompany: vm.formData.logisticsCompany,
                  userName: vm.formData.userName,
                  userPhone: vm.formData.userPhone,
                  // volidCode: vm.volidCode
                }, function(rsp) {
                  console.log('post', rsp);
                  if (rsp.result === 'Y') {
                    // 提交输入数据完成
                    $('#toast').fadeIn(0).fadeOut(2000, function(){
                      vm.targetUrl && (window.location.href = vm.targetUrl);
                    });
                  } else {
                    vm.hasError = true;
                    alert(rsp.msg || '操作失败，请重试！');
                  }
                  vm.isLoading = false;
                }, 'json');
              } else {
                alert('验证码错误！');
                vm.isLoading = false;
              }
            }, function() {
              alert('获取失败，请重试！');
              vm.isLoading = false;
            });
          
          }
        }
      }
    });
	</script>
</body>
</html>